<div class="custom-container">
    <h1>Something went wrong, try again</h1>
    <form>
        <div class="d-flex justify-content-center row">
            <button asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg gy-2">Main Page</button>
        </div>
    </form>
</div>